<div *ngIf="vm.fGroup">
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Modifier un contact'"></app-title-section>
  <div class="container-fluid">
    <app-bo-contact-form [fGroup]="vm.fGroup" (picEvent)="handlePicEvent($event)"></app-bo-contact-form>
    <button type="submit" class="btn btn-primary" (click)="handleClickUpdate()" [disabled]="vm.fGroup.invalid">Modifier</button>
  </div>
</div>
