<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'évènements'"></app-title-section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-none d-lg-block"></div>
      <div class="col">
        <div class="card mb-2" *ngFor="let event of vm.events">
          <div class="card-body">
            <div class="d-flex">
              <div class="d-flex flex-column">
                <div class="square-date d-table-cell align-middle">
                  <div class="title-white-1">{{event.date | date: 'dd'}}</div>
                </div>
                <div class="text-center font-weight-bold">{{(event.date | date: 'MM') | convertMonth}}</div>
                <div class="text-center font-weight-bold">{{event.date | date: 'yyyy'}}</div>
              </div>
              <div class="d-flex flex-column ml-3 w-100">
                <div class="title-2">{{event.title}}</div>
                <div>{{event.message}}</div>
                <div class="d-flex justify-content-between flex-wrap w-100 mt-5">
                  <div class="d-flex"><fa-icon [icon]="vm.faMapMarkerAlt" class="blue"></fa-icon><span class="ml-2">{{event.place}}</span></div>
                  <div class="d-flex"><fa-icon [icon]="vm.faClock" class="blue"></fa-icon><span class="ml-2">{{(event.date | date: 'HH:mm').replace(":", "h")}}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 d-none d-lg-block"></div>
    </div>
  </div>
</div>
