<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion des actualités'"></app-title-section>
  <div class="container-fluid">
    <div class="w-100 text-right mt-3 mb-3">
      <button type="button" class="btn btn-primary mr-1" (click)="handleClickAddActuality()">Ajouter une actualité</button>
    </div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let actuality of vm.actualities">
          <td>{{actuality.title}}</td>
          <td>
            <button type="button" class="btn btn-primary mr-1" (click)="handleClickUpdateActuality(actuality.id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="handleClickDeleteActuality(actuality.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-pagination [nbPages]="vm.nbPages" [currentPage]="vm.pageId" (changePage)="handleChangePage($event)"></app-pagination>
  </div>
</div>
