<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion des Equipes'"></app-title-section>
  <div class="container-fluid">
    <div class="w-100 text-right mt-3 mb-3">
      <button type="button" class="btn btn-primary mr-1" (click)="handleClickAddTeam()">Ajouter une équipe</button>
    </div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of vm.teams">
          <td>{{team.name}}</td>
          <td>
            <button type="button" class="btn btn-primary mr-1" (click)="handleClickUpdateTeam(team.id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="handleClickDeleteTeam(team.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
