<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Actualités'"></app-title-section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 d-none d-lg-block">
        <a class="twitter-timeline" data-height="1000" data-theme="light" href="https://twitter.com/USGM35?ref_src=twsrc%5Etfw">Twitter</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark mt-2 mb-2" *ngIf="vm.actualities">
          <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">{{vm.actualities[0].title}}</h1>
            <p class="lead my-3 ellipses">{{vm.actualities[0].message}}</p>
            <p class="lead mb-0"><a (click)="handleClickReadMore(vm.actualities[0].id)" class="text-white font-weight-bold cpointer">Lire la suite...</a></p>
          </div>
        </div>
        <div *ngIf="vm.actualities">
          <div class="d-flex flex-wrap justify-content-around" *ngIf="vm.actualities.length > 1">
            <div class="card mb-5" style="width: 18rem;" *ngFor="let actuality of vm.actualities.slice(1)">
              <figure class="crop-figure">
                <img *ngIf="actuality.picture1" class="card-img-top" src="{{actuality.picture1}}" alt="Photo actualite">
                <img *ngIf="!actuality.picture1 && actuality.picture2" class="card-img-top" src="{{actuality.picture2}}" alt="Photo actualite">
                <img *ngIf="!actuality.picture1 && !actuality.picture2 && actuality.picture3" class="card-img-top" src="{{actuality.picture3}}" alt="Photo actualite">
              </figure>
              <div class="card-body">
                <h5 class="card-title">{{actuality.title}}</h5>
                <p class="card-text ellipses">{{actuality.message}}</p>
                <a (click)="handleClickReadMore(actuality.id)" class="btn btn-primary">Lire la suite</a>
              </div>
            </div>
          </div>
          <a class="cpointer" (click)="handleClickSeeAll()">Voir toutes les actualités</a>
        </div>
      </div>
      <div class="col-3 d-none d-lg-block">
        <div class="title-2">Sponsors</div>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" *ngIf="vm.sponsors">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions"  *ngFor="let s of vm.sponsors;let index = index" [attr.data-slide-to]="index"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let s of vm.sponsors;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
              <img [src]="s.picture" class="d-block w-100" [alt]="s.name">
              <div class="carousel-caption d-none d-md-block">
                <h5 [textContent]="s.name"></h5>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="title-2 mt-5">Meilleur buteur</div>
        <div class="card" *ngIf="vm.scorers.length">
          <figure class="crop-figure" *ngIf="vm.scorers[0].players.picture">
            <img class="card-img-top d-none d-lg-block" src="{{vm.scorers[0].players.picture}}" alt="Photo meilleur buteur">
          </figure>
          <div class="card-body">
            <h5 class="card-title">{{vm.scorers[0].players.lastname.toUpperCase() + ' ' + vm.scorers[0].players.firstname}}</h5>
            <p class="font-weight-bold text-right">{{vm.scorers[0].goals}} <fa-icon [icon]="vm.faFutbol"></fa-icon></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
