<form [formGroup]="vm.fGroup">
  <div class="form-group">
    <label for="lastname">Nom de famille *</label>
    <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Nom de famille">
  </div>
  <div class="form-group">
    <label for="firstname">Prénom *</label>
    <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="Prénom">
  </div>
  <div class="form-group">
    <label for="phone">Numéro de téléphone *</label>
    <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Numéro de téléphone">
  </div>
  <div class="form-group">
    <label>Date de naissance</label>
    <fa-icon [icon]="faTimes" class="ml-3" title="Supprimer date" (click)="handleClickDeleteDate()"></fa-icon>
    <input class="form-control" placeholder="Select Date"
           formControlName="birthdate"
           readonly
           [ngxDatePicker]="dateInstanceSingle">
    <ngx-date-picker  #dateInstanceSingle></ngx-date-picker>
  </div>
  <div class="form-group">
    <label for="picture">Photo</label>
    <input type="file" class="form-control-file" id="picture" (change)="handleChangePicture($event)">
    <div class="d-flex">
      <figure class="crop-figure">
        <img class="card-img-top" src="{{picture}}" alt="Card image cap">
      </figure>
      <fa-icon *ngIf="picture" [icon]="faTimes" class="ml-3" title="Supprimer image" (click)="handleClickDeletePicture()"></fa-icon>
    </div>
  </div>
  <div class="form-group">
    <label for="teams_id">Equipe USGM</label>
    <select class="form-control" id="teams_id" formControlName="teams_id">
      <option *ngFor="let team of vm.teams" [ngValue]="team.id">Equipe {{team.name}}</option>
    </select>
  </div>
</form>
