<form [formGroup]="vm.fGroup">
  <div class="form-group">
    <label for="teams_id">Equipe USGM *</label>
    <select class="form-control" id="teams_id" formControlName="teams_id" [attr.disabled]="true">
      <option *ngFor="let team of vm.teams" [ngValue]="team.id">Equipe {{team.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="matches_id">Match</label>
    <select class="form-control" id="matches_id" formControlName="matches_id">
      <option *ngFor="let match of vm.matches" [ngValue]="match.id">{{match.opposingTeam}} - {{match.dateMatch | date : 'dd/MM/yyyy'}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id1">Joueur 1</label>
    <select class="form-control" id="players_id1" formControlName="players_id1">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id2">Joueur 2</label>
    <select class="form-control" id="players_id2" formControlName="players_id2">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id3">Joueur 3</label>
    <select class="form-control" id="players_id3" formControlName="players_id3">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id4">Joueur 4</label>
    <select class="form-control" id="players_id4" formControlName="players_id4">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id5">Joueur 5</label>
    <select class="form-control" id="players_id5" formControlName="players_id5">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id6">Joueur 6</label>
    <select class="form-control" id="players_id6" formControlName="players_id6">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id7">Joueur 7</label>
    <select class="form-control" id="players_id7" formControlName="players_id7">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id8">Joueur 8</label>
    <select class="form-control" id="players_id8" formControlName="players_id8">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id9">Joueur 9</label>
    <select class="form-control" id="players_id9" formControlName="players_id9">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id10">Joueur 10</label>
    <select class="form-control" id="players_id10" formControlName="players_id10">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id11">Joueur 11</label>
    <select class="form-control" id="players_id11" formControlName="players_id11">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id12">Joueur 12</label>
    <select class="form-control" id="players_id12" formControlName="players_id12">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id13">Joueur 13</label>
    <select class="form-control" id="players_id13" formControlName="players_id13">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id14">Joueur 14</label>
    <select class="form-control" id="players_id14" formControlName="players_id14">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id15">Joueur 15</label>
    <select class="form-control" id="players_id15" formControlName="players_id15">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id16">Joueur 16</label>
    <select class="form-control" id="players_id16" formControlName="players_id16">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id17">Joueur 17</label>
    <select class="form-control" id="players_id17" formControlName="players_id17">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id18">Joueur 18</label>
    <select class="form-control" id="players_id18" formControlName="players_id18">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id19">Joueur 19</label>
    <select class="form-control" id="players_id19" formControlName="players_id19">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="players_id20">Joueur 20</label>
    <select class="form-control" id="players_id20" formControlName="players_id20">
      <option [ngValue]="null"></option>
      <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="coaches_id">Coach</label>
    <select class="form-control" id="coaches_id" formControlName="coaches_id">
      <option [ngValue]="null"></option>
      <option *ngFor="let coach of vm.coaches" [ngValue]="coach.id">{{coach.lastname.toUpperCase() + ' ' + coach.firstname}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Date convocation</label>
    <div *ngIf="vm.fGroup.get('convocationTime').value">{{(vm.fGroup.get('convocationTime').value | date: 'dd/MM/yyyy HH:mm').replace(':', 'h')}}</div>
    <dl-date-time-picker
      startView="day"
      maxView="year"
      minView="minute"
      minuteStep="5"
      (change)="handleChangeDateConvocation($event)"
    >
    </dl-date-time-picker>
  </div>
  <div class="form-group">
    <label for="convocationPlace">Lieu de convocation</label>
    <input type="text" class="form-control" id="convocationPlace" formControlName="convocationPlace" placeholder="Gaël, Müel, Stade Delisse Montauban de Bretagne">
  </div>
  <div class="form-group">
    <label for="cancel">Match annulé</label>
    <input type="checkbox" class="form-control" id="cancel" formControlName="cancel">
  </div>
  <div class="form-group">
    <label for="noMatch">Pas de match</label>
    <input type="checkbox" class="form-control" id="noMatch" formControlName="noMatch">
  </div>
  <div class="form-group">
    <label for="comment">Commentaire</label>
    <textarea formControlName="comment" class="form-control" id="comment" rows="3" placeholder="Commentaire"></textarea>
  </div>

</form>
