<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion des contacts'"></app-title-section>
  <div class="container-fluid">
    <div class="w-100 text-right mt-3 mb-3">
      <button type="button" class="btn btn-primary mr-1" (click)="handleClickAddContact()">Ajouter un contact</button>
    </div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of vm.contacts">
          <td>{{contact.firstname}}</td>
          <td>{{contact.lastname}}</td>
          <td>
            <button type="button" class="btn btn-primary mr-1" (click)="handleClickUpdateContact(contact.id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="handleClickDeleteContact(contact.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
