<form [formGroup]="vm.fGroup">
  <div class="form-group">
    <label for="homeMatch">Match à Domicile ?</label>
    <input type="checkbox" class="form-control" id="homeMatch" formControlName="homeMatch">
  </div>
  <div class="form-group">
    <label for="teams_id">Equipe USGM *</label>
    <select class="form-control" id="teams_id" formControlName="teams_id">
      <option *ngFor="let team of vm.teams" [ngValue]="team.id">Equipe {{team.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="opposingTeam">Equipe adverse *</label>
    <input type="text" class="form-control" id="opposingTeam" formControlName="opposingTeam" placeholder="Equipe adverse">
  </div>
  <div class="form-group">
    <label>Date du match *</label>
    <div *ngIf="vm.fGroup.get('dateMatch').value">{{(vm.fGroup.get('dateMatch').value | date: 'dd/MM/yyyy HH:mm').replace(':', 'h')}}</div>
    <dl-date-time-picker
      startView="day"
      maxView="year"
      minView="minute"
      minuteStep="5"
      (change)="handleChangeDateMatch($event)"
    >
    </dl-date-time-picker>
    <!--<input class="form-control" placeholder="Select Date"-->
           <!--formControlName="dateMatch"-->
           <!--readonly-->
           <!--[ngxDatePicker]="dateInstanceSingleDateMatch">-->
    <!--<ngx-date-picker  #dateInstanceSingleDateMatch></ngx-date-picker>-->
  </div>
  <div class="form-group">
    <label for="placeMatch">Lieu du match *</label>
    <input type="text" class="form-control" id="placeMatch" formControlName="placeMatch" placeholder="Gaël, Müel, Stade Delisse Montauban de Bretagne">
  </div>
  <div class="form-group">
    <label for="cancel">Match annulé</label>
    <input type="checkbox" class="form-control" id="cancel" formControlName="cancel">
  </div>
  <div class="form-group">
    <label for="matchType">Type du match *</label>
    <input type="text" class="form-control" id="matchType" formControlName="matchType" placeholder="D1 J1, Coupe de France Tour 1">
  </div>
  <div class="form-group">
    <label>Date de report</label>
    <div *ngIf="vm.fGroup.get('reportDate').value">{{(vm.fGroup.get('reportDate').value | date: 'dd/MM/yyyy HH:mm').replace(':', 'h')}}</div>
    <dl-date-time-picker
      startView="day"
      maxView="year"
      minView="minute"
      minuteStep="5"
      (change)="handleChangeDateReport($event)">
    </dl-date-time-picker>
    <!--<input class="form-control" placeholder="Select Date"-->
           <!--formControlName="reportDate"-->
           <!--readonly-->
           <!--[ngxDatePicker]="dateInstanceSingle">-->
    <!--<ngx-date-picker  #dateInstanceSingle></ngx-date-picker>-->
  </div>
  <div class="form-group">
    <label for="scoreHome">Score domicile</label>
    <input type="number" class="form-control" id="scoreHome" formControlName="scoreHome" placeholder="0">
  </div>
  <div class="form-group">
    <label for="scoreAway">Score extérieur</label>
    <input type="number" class="form-control" id="scoreAway" formControlName="scoreAway" placeholder="0">
  </div>
  <div class="form-group">
    <label for="scoreHomeProlongation">Score domicile prolongation</label>
    <input type="number" class="form-control" id="scoreHomeProlongation" formControlName="scoreHomeProlongation" placeholder="0">
  </div>
  <div class="form-group">
    <label for="scoreAwayProlongation">Score extérieur prolongation</label>
    <input type="number" class="form-control" id="scoreAwayProlongation" formControlName="scoreAwayProlongation" placeholder="0">
  </div>
  <div class="form-group">
    <label for="scoreHomePenalty">Score domicile séance de tirs au but</label>
    <input type="number" class="form-control" id="scoreHomePenalty" formControlName="scoreHomePenalty" placeholder="0">
  </div>
  <div class="form-group">
    <label for="scoreAwayPenalty">Score extérieur séance de tirs au but</label>
    <input type="number" class="form-control" id="scoreAwayPenalty" formControlName="scoreAwayPenalty" placeholder="0">
  </div>
</form>
