<nav *ngIf="vm.nbPages.length > 1">
  <ul class="pagination">
    <li class="page-item cpointer" [class.disabled]="vm.currentPage === 1">
      <a class="page-link" (click)="handleClickPrevious()" tabindex="-1">Précédent</a>
    </li>
    <li class="page-item active cpointer" [class.active]="page === vm.currentPage" *ngFor="let page of vm.nbPages">
      <a class="page-link" (click)="handleClickChangePage(page)">{{page}}</a>
    </li>
    <li class="page-item cpointer" [class.disabled]="vm.currentPage === vm.nbPages.length">
      <a class="page-link" (click)="handleClickNext()">Suivant</a>
    </li>
  </ul>
</nav>
