<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion du Calendrier / Résultats'"></app-title-section>
  <div class="container-fluid">
    <div class="w-100 text-right mt-3 mb-3">
      <button type="button" class="btn btn-danger mr-1" (click)="handleClickDeleteAll()">Supprimer matchs de toutes les équipes et buteurs</button>
      <button type="button" class="btn btn-primary mr-1" (click)="handleClickAdd()">Ajouter un match</button>
    </div>
    <div class="card mb-2" *ngFor="let match of vm.matches">
      <div class="card-body">
        <div>{{match.matchType}}</div>
        <div class="text-center d-flex align-items-center justify-content-around">
          <div class="font-weight-bold d-flex flex-wrap bloc-size w-25" *ngIf="match.homeMatch"><img src="assets/img/logo.jpg" alt="" width="75" /><div class="align-self-center">USGM {{match.teams.name}}</div></div>
          <div class="font-weight-bold d-flex flex-wrap bloc-size w-25" *ngIf="!match.homeMatch"><div class="align-self-center">{{match.opposingTeam}}</div></div>
          <div class="bloc-size w-25">
            <div class="blue font-weight-bold bloc-size">{{(match.dateMatch | date: 'dd/MM/yyyy HH:mm').replace(':', 'h')}}</div>
            <div class="blue font-weight-bold bloc-size text-danger font-weight-bold" *ngIf="match.reportDate">Reporté : {{(match.reportDate | date: 'dd/MM/yyyy HH:mm').replace(':', 'h')}}</div>
            <div class="font-weight-bold title-2" *ngIf="match.scoreAway !== null && match.scoreHome !== null">{{match.scoreHome}} - {{match.scoreAway}}</div>
            <div class="blue font-weight-bold" *ngIf="match.scoreAwayProlongation !== null && match.scoreHomeProlongation !== null">({{match.scoreHomeProlongation}} - {{match.scoreAwayProlongation}} ap.p)</div>
            <div class="blue font-weight-bold" *ngIf="match.scoreAwayPenalty !== null && match.scoreHomePenalty !== null">({{match.scoreHomePenalty}} - {{match.scoreAwayPenalty}} ap.TAB)</div>
            <div *ngIf="match.cancel" class="text-danger font-weight-bold">Annulé</div>
          </div>
          <div class="font-weight-bold bloc-size text-left w-25" *ngIf="match.homeMatch">{{match.opposingTeam}}</div>
          <div class="font-weight-bold d-flex flex-wrap bloc-size text-left w-25" *ngIf="!match.homeMatch"><img src="assets/img/logo.jpg" alt="" width="75" /><div class="align-self-center">USGM {{match.teams.name}}</div></div>
        </div>
        <div class="w-100 text-center">
          <button type="button" class="btn btn-primary mr-1" (click)="handleClickUpdate(match.id)">Modifier</button>
          <button type="button" class="btn btn-danger" (click)="handleClickDelete(match.id)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
