<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Les albums photo'"></app-title-section>
  <div class="container-fluid m-auto w-75">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card mt-5 mb-5" style="width: 18rem;" *ngFor="let album of vm.albums">
        <div class="card-body">
          <h4 class="card-title">{{album.title}}</h4>
          <button class="btn btn-primary" (click)="handleClickSeeAlbum(album.id)">Voir les photos</button>
        </div>
      </div>
    </div>
  </div>
</div>
