<form [formGroup]="vm.fGroup">
  <div class="form-group">
    <label for="name">Nom *</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="A,B,C">
  </div>
</form>
