<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion des sponsors'"></app-title-section>
  <div class="container-fluid">
    <div class="w-100 text-right mt-3 mb-3">
      <button type="button" class="btn btn-primary mr-1" (click)="handleClickAddSponsor()">Ajouter un sponsor</button>
    </div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sponsor of vm.sponsors">
          <td>{{sponsor.name}}</td>
          <td>
            <button type="button" class="btn btn-primary mr-1" (click)="handleClickUpdateSponsor(sponsor.id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="handleClickDeleteSponsor(sponsor.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
