<div>
  <app-menu></app-menu>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-none d-lg-block"></div>
      <div class="col" *ngIf="vm.actuality">
        <app-title-section [titleSection]="vm.actuality.title"></app-title-section>
        <p class="text-justify">{{vm.actuality.message}}</p>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let pic of vm.picture;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
              <img [src]="pic" class="d-block w-100">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-3 d-none d-lg-block"></div>
    </div>
  </div>
</div>
