<form [formGroup]="vm.fGroup">
  <div class="form-group">
    <label for="title">Titre *</label>
    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titre">
  </div>
  <div class="form-group">
    <label for="message">Message *</label>
    <textarea formControlName="message" class="form-control" id="message" rows="3" placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <label for="picture1">Photo 1</label>
    <input type="file" class="form-control-file" id="picture1" (change)="handleChangePicture1($event)">
    <div class="d-flex">
      <figure class="crop-figure">
        <img class="card-img-top" src="{{picture1}}" alt="Card image cap">
      </figure>
      <fa-icon *ngIf="picture1" [icon]="faTimes" class="ml-3" title="Supprimer image" (click)="handleClickDeletePicture1()"></fa-icon>
    </div>
  </div>
  <div class="form-group">
    <label for="picture2">Photo 2</label>
    <input type="file" class="form-control-file" id="picture2" (change)="handleChangePicture2($event)">
    <div class="d-flex">
      <figure class="crop-figure">
        <img class="card-img-top" src="{{picture2}}" alt="Card image cap">
      </figure>
      <fa-icon *ngIf="picture2" [icon]="faTimes" class="ml-3" title="Supprimer image" (click)="handleClickDeletePicture2()"></fa-icon>
    </div>
  </div>
  <div class="form-group">
    <label for="picture3">Photo 3</label>
    <input type="file" class="form-control-file" id="picture3" (change)="handleChangePicture3($event)">
    <div class="d-flex">
      <figure class="crop-figure">
        <img class="card-img-top" src="{{picture3}}" alt="Card image cap">
      </figure>
      <fa-icon *ngIf="picture3" [icon]="faTimes" class="ml-3" title="Supprimer image" (click)="handleClickDeletePicture3()"></fa-icon>
    </div>
  </div>
</form>
