<div *ngIf="vm.fGroup">
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Ajouter un évènement'"></app-title-section>
  <div class="container-fluid">
      <app-bo-event-form [fGroup]="vm.fGroup"></app-bo-event-form>
      <button type="submit" class="btn btn-primary" (click)="handleClickAdd()" [disabled]="vm.fGroup.invalid">Ajouter</button>
  </div>
</div>
