<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Connexion membre'"></app-title-section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-none d-lg-block"></div>
      <div class="col">
        <form [formGroup]="vm.fGroup" (submit)="handleSubmitLogin()">
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe *</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Mot de passe">
          </div>
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
      </div>
      <div class="col-3 d-none d-lg-block"></div>
    </div>
  </div>
</div>
