<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Effectif'"></app-title-section>
  <div class="container-fluid m-auto w-75">
    <div class="title-2">Les gardiens de but</div>
    <div class="line"></div>
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card mt-5 mb-5" style="width: 18rem;" *ngFor="let goalKeepers of vm.goalkeepers">
        <figure class="crop-figure" *ngIf="goalKeepers.picture">
          <img class="card-img-top" src="{{goalKeepers.picture}}" alt="Photo joueur">
        </figure>
        <div class="card-body">
          <h4 class="card-title">{{goalKeepers.firstname}} {{goalKeepers.lastname.toUpperCase()}}</h4>
          <p class="card-text" *ngIf="goalKeepers.birthdate"><fa-icon [icon]="vm.faBirthdayCake"></fa-icon> {{goalKeepers.birthdate | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>

    <div class="title-2">Les arrières</div>
    <div class="line"></div>
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card mt-5 mb-5" style="width: 18rem;" *ngFor="let defender of vm.defenders">
        <figure class="crop-figure" *ngIf="defender.picture">
          <img class="card-img-top" src="{{defender.picture}}" alt="Photo joueur">
        </figure>
        <div class="card-body">
          <h4 class="card-title">{{defender.firstname}} {{defender.lastname.toUpperCase()}}</h4>
          <p class="card-text" *ngIf="defender.birthdate"><fa-icon [icon]="vm.faBirthdayCake"></fa-icon> {{defender.birthdate | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>
    <div class="title-2">Les milieux</div>
    <div class="line"></div>
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card mt-5 mb-5" style="width: 18rem;" *ngFor="let midfielder of vm.midfielders">
        <figure class="crop-figure" *ngIf="midfielder.picture">
          <img class="card-img-top" src="{{midfielder.picture}}" alt="Photo joueur">
        </figure>
        <div class="card-body">
          <h4 class="card-title">{{midfielder.firstname}} {{midfielder.lastname.toUpperCase()}}</h4>
          <p class="card-text" *ngIf="midfielder.birthdate"><fa-icon [icon]="vm.faBirthdayCake"></fa-icon> {{midfielder.birthdate | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>
    <div class="title-2">Les avants</div>
    <div class="line"></div>
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card mt-5 mb-5" style="width: 18rem;" *ngFor="let striker of vm.strikers">
        <figure class="crop-figure" *ngIf="striker.picture">
          <img class="card-img-top" src="{{striker.picture}}" alt="Photo joueur">
        </figure>
        <div class="card-body">
          <h4 class="card-title">{{striker.firstname}} {{striker.lastname.toUpperCase()}} </h4>
          <p class="card-text" *ngIf="striker.birthdate"><fa-icon [icon]="vm.faBirthdayCake"></fa-icon> {{striker.birthdate | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
