<div *ngIf="vm.actualities">
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Toutes les actualités'"></app-title-section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-none d-lg-block"></div>
      <div class="col">
        <div class="d-flex flex-wrap justify-content-around">
          <div class="card mb-5" style="width: 18rem;" *ngFor="let actuality of vm.actualities">
            <figure class="crop-figure">
              <img *ngIf="actuality.picture1" class="card-img-top" src="{{actuality.picture1}}" alt="Photo actualite">
              <img *ngIf="!actuality.picture1 && actuality.picture2" class="card-img-top" src="{{actuality.picture2}}" alt="Photo actualite">
              <img *ngIf="!actuality.picture1 && !actuality.picture2 && actuality.picture3" class="card-img-top" src="{{actuality.picture3}}" alt="Photo actualite">
            </figure>
            <div class="card-body">
              <h5 class="card-title">{{actuality.title}}</h5>
              <p class="card-text ellipses">{{actuality.message}}</p>
              <a (click)="handleClickReadMore(actuality.id)" class="btn btn-primary">Lire la suite</a>
            </div>
          </div>
        </div>
        <app-pagination [nbPages]="vm.nbPages" [currentPage]="vm.pageId" (changePage)="handleChangePage($event)"></app-pagination>
      </div>
      <div class="col-3 d-none d-lg-block"></div>
    </div>
  </div>
</div>
