<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion des utilisateurs'"></app-title-section>
  <div class="container-fluid">
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of vm.users">
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
          <td>
            <button *ngIf="!user.accept" type="button" class="btn btn-primary mr-1" (click)="handleClickAccept(user.id)">Accepter</button>
            <button *ngIf="user.accept" type="button" class="btn btn-danger" (click)="handleClickRefuse(user.id)">Refuser</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
