<div *ngIf="vm.fGroup">
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Ajouter un joueur'"></app-title-section>
  <div class="container-fluid">
    <form [formGroup]="vm.fGroup" (submit)="handleSubmitAdd()">
      <div class="form-group">
        <label for="lastname">Nom de famille *</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Nom de famille">
      </div>
      <div class="form-group">
        <label for="firstname">Prénom *</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="Prénom">
      </div>
      <div class="form-group">
        <label>Date de naissance</label>
        <input class="form-control" placeholder="Select Date"
               formControlName="birthdate"
               readonly
               [ngxDatePicker]="dateInstanceSingle">
        <ngx-date-picker  #dateInstanceSingle></ngx-date-picker>
      </div>
      <div class="form-group">
        <label for="post">Poste *</label>
        <select class="form-control" id="post" formControlName="post">
          <option [value]="vm.postEnum.GOALKEEPER">Gardien de but</option>
          <option [value]="vm.postEnum.DEFENDER">Arrière</option>
          <option [value]="vm.postEnum.MIDFIELDER">Milieu de terrain</option>
          <option [value]="vm.postEnum.STRIKER">Avant</option>
        </select>
      </div>
      <div class="form-group">
        <label for="picture">Photo</label>
        <input type="file" class="form-control-file" id="picture" formControlName="picture" (change)="handleChangePicture($event)">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="vm.fGroup.invalid">Ajouter</button>
    </form>
  </div>
</div>
