<form [formGroup]="vm.fGroup">
  <div class="form-group">
    <label for="title">Titre *</label>
    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titre de l'évènement">
  </div>
  <div class="form-group">
    <label for="place">Lieu *</label>
    <input type="text" class="form-control" id="place" formControlName="place" placeholder="Lieu de l'évènement">
  </div>
  <div class="form-group">
    <label for="message">Message *</label>
    <textarea formControlName="message" class="form-control" id="message" rows="3" placeholder="Description de l'évènement"></textarea>
  </div>
  <div class="form-group">
    <label>Date *</label>
    <div *ngIf="vm.fGroup.get('date').value">{{(vm.fGroup.get('date').value | date: 'dd/MM/yyyy HH:mm').replace(':', 'h')}}</div>
    <dl-date-time-picker
      startView="day"
      maxView="year"
      minView="minute"
      minuteStep="5"
      (change)="handleChangeDate($event)"
    >
    </dl-date-time-picker>
    <!--<input class="form-control" placeholder="Select Date"-->
    <!--formControlName="dateMatch"-->
    <!--readonly-->
    <!--[ngxDatePicker]="dateInstanceSingleDateMatch">-->
    <!--<ngx-date-picker  #dateInstanceSingleDateMatch></ngx-date-picker>-->
  </div>
</form>
