.contain {
  height: 100%;

  /* Set up proportionate scaling */
  width: 100%;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../../../../../assets/img/home.jpg');
}
