<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Le bureau'"></app-title-section>
  <div class="container-fluid m-auto w-75">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card mt-5 mb-5" style="width: 18rem;" *ngFor="let office of vm.offices">
        <figure class="crop-figure" *ngIf="office.picture">
          <img class="card-img-top" src="{{office.picture}}" alt="Photo bureau">
        </figure>
        <div class="card-body">
          <h4 class="card-title">{{office.firstname}} {{office.lastname.toUpperCase()}}</h4>
          <p class="card-text">{{office.role}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
