<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="" width="75"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/actualites']">Actualités</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Calendrier / Résultats
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/matchsEquipe', team.id]" *ngFor="let team of vm.teams">Equipe {{team.name}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Convocation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/convocations', team.id]" *ngFor="let team of vm.teams">Equipe {{team.name}}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/albums']">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/evenements']">Evènements</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Club
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/joueurs']">Joueurs</a>
          <a class="dropdown-item" [routerLink]="['/dirigeants']">Dirigeants</a>
          <a class="dropdown-item" [routerLink]="['/bureau']">Bureau</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/buteurs']">Buteurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item dropdown" *ngIf="!vm.nameUser">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Accès membre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/inscription']">Inscription</a>
          <a class="dropdown-item" [routerLink]="['/connexion']">Connexion</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="vm.nameUser">
        <a class="nav-link">
          <fa-icon [icon]="vm.faUser"></fa-icon>
          <span>{{vm.nameUser}}</span>
          <fa-icon [icon]="vm.faPowerOff" class="ml-1 text-danger cpointer" title="Se déconnecter" (click)="handleClickLogout()"></fa-icon>
          <div class="font-italic cpointer" (click)="handleClickMember()">(Accès membre)</div>
        </a>
      </li>
    </ul>
  </div>
</nav>
