<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Calendrier / Résultats'"></app-title-section>
  <div class="container-fluid">
    <div class="card mb-2" *ngFor="let match of vm.matches">
      <div class="card-body">
        <div>{{match.matchType}}</div>
          <fa-icon data-toggle="modal" data-target="#scorerModal" [icon]="vm.faFutbol" class="text-right w-100 d-flex justify-content-end" (click)="handleClickSeeScorer(match.id)"></fa-icon>
        <div class="modal fade" id="scorerModal" tabindex="-1" role="dialog" aria-labelledby="scorerModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buteurs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="vm.scorers = []">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" *ngIf="vm.scorers.length">
                <div *ngFor="let scorer of vm.scorers">
                  <span>{{scorer.players.lastname.toUpperCase() + ' ' + scorer.players.firstname}}</span>
                  <span> X {{scorer.goals}} <fa-icon [icon]="vm.faFutbol"></fa-icon> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center d-flex align-items-center justify-content-around">
          <div class="font-weight-bold d-flex flex-wrap bloc-size w-25" *ngIf="match.homeMatch"><img src="assets/img/logo.jpg" alt="" width="75" /><div class="align-self-center">USGM {{match.teams.name}}</div></div>
          <div class="font-weight-bold d-flex flex-wrap bloc-size w-25" *ngIf="!match.homeMatch"><div class="align-self-center">{{match.opposingTeam}}</div></div>
          <div class="bloc-size w-25">
            <div class="blue font-weight-bold bloc-size">{{(match.dateMatch | date : 'dd/MM/yyyy')}}</div>
            <div class="blue font-weight-bold bloc-size">{{(match.dateMatch | date : 'hh:mm').replace(":", "h")}}</div>
            <div class="blue font-weight-bold bloc-size text-danger font-weight-bold" *ngIf="match.reportDate">Reporté : {{(match.reportDate | date : 'dd/MM/yyyy')}}</div>
            <div class="blue font-weight-bold bloc-size text-danger font-weight-bold" *ngIf="match.reportDate">{{(match.reportDate | date : 'hh:mm').replace(":", "h")}}</div>
            <div class="font-weight-bold title-2" *ngIf="match.scoreAway !== null && match.scoreHome !== null">{{match.scoreHome}} - {{match.scoreAway}}</div>
            <div class="blue font-weight-bold" *ngIf="match.scoreAwayProlongation !== null && match.scoreHomeProlongation !== null">({{match.scoreHomeProlongation}} - {{match.scoreAwayProlongation}} ap.p)</div>
            <div class="blue font-weight-bold" *ngIf="match.scoreAwayPenalty !== null && match.scoreHomePenalty !== null">({{match.scoreHomePenalty}} - {{match.scoreAwayPenalty}} ap.TAB)</div>
            <div *ngIf="match.cancel" class="text-danger font-weight-bold">Annulé</div>
          </div>
          <div class="font-weight-bold bloc-size text-left w-25" *ngIf="match.homeMatch">{{match.opposingTeam}}</div>
          <div class="font-weight-bold d-flex flex-wrap bloc-size text-left w-25" *ngIf="!match.homeMatch"><img src="assets/img/logo.jpg" alt="" width="75" /><div class="align-self-center">USGM {{match.teams.name}}</div></div>
        </div>
      </div>
    </div>
  </div>
</div>
