<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Inscription membre'"></app-title-section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-none d-lg-block"></div>
      <div class="col" *ngIf="vm.fGroup">
        <form [formGroup]="vm.fGroup" (submit)="handleSubmitAccess()">
          <div class="form-group">
            <label for="lastname">Nom de famille *</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Nom de famille">
          </div>
          <div class="form-group">
            <label for="firstname">Prénom *</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="Prénom">
          </div>
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe *</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Mot de passe">
          </div>
          <div class="form-group">
            <label for="c_password">Confirmer mot de passe *</label>
            <input type="password" class="form-control" id="c_password" formControlName="c_password" placeholder="Confirmer mot de passe">
          </div>
          <button type="submit" class="btn btn-primary">Demander un accès</button>
        </form>
      </div>
      <div class="col-3 d-none d-lg-block"></div>
    </div>
  </div>
</div>
