<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion des albums'"></app-title-section>
  <div class="container-fluid">
    <div class="w-100 text-right mt-3 mb-3">
      <button type="button" class="btn btn-primary mr-1" (click)="handleClickAddAlbum()">Ajouter un album</button>
    </div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let album of vm.albums">
          <td>{{ album.title }}</td>
          <td>
            <button type="button" class="btn btn-secondary mr-1" (click)="handleClickAddPhotos(album.id)">Ajouter des photos</button>
            <button type="button" class="btn btn-primary mr-1" (click)="handleClickUpdateAlbum(album.id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="handleClickDeleteAlbum(album.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

