<form [formGroup]="vm.fGroup">
  <div class="form-group">
    <label for="name">Nom *</label>
    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nom du sponsor">
  </div>
  <div class="form-group">
    <label for="picture">Photo</label>
    <input type="file" class="form-control-file" id="picture" (change)="handleChangePicture($event)">
    <div class="d-flex">
      <figure class="crop-figure">
        <img class="card-img-top" src="{{picture}}" alt="Card image cap">
      </figure>
      <fa-icon *ngIf="picture" [icon]="faTimes" class="ml-3" title="Supprimer image" (click)="handleClickDeletePicture()"></fa-icon>
    </div>
  </div>
</form>
