<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion des évènements'"></app-title-section>
  <div class="container-fluid">
    <div class="w-100 text-right mt-3 mb-3">
      <button type="button" class="btn btn-primary mr-1" (click)="handleClickAddEvent()">Ajouter un évènement</button>
    </div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Date</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let event of vm.events">
          <td>{{event.title}}</td>
          <td>{{event.date}}</td>
          <td>
            <button type="button" class="btn btn-primary mr-1" (click)="handleClickUpdateEvent(event.id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="handleClickDeleteEvent(event.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
