<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Photos de l\'album'"></app-title-section>
  <div class="container-fluid m-auto">
    <div class="d-flex flex-wrap justify-content-between">
      <span *ngFor="let photo of vm.photos" class="mr-5 mb-3 cpointer">
          <span (click)="handleClickShow(photo.picture)">
            <img src="{{photo.picture}}" width="200" alt="Image album">
          </span>
        </span>
    </div>
  </div>
  <div [style.display]="vm.showModal ? 'block' : 'none'" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <figure class="crop-figure">
            <img class="card-img-top" src="{{vm.pict}}" alt="Photo de l'album">
          </figure>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click) = "handleClickHide()">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</div>
