<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion des photos de l\'album'"></app-title-section>
  <div class="container-fluid">
      <div class="flex justify-content-around w-100">
        <span *ngFor="let photo of vm.photos" class="mr-5 mb-3">
          <span (click)="handleClickShow(photo.picture)">
            <img src="{{photo.picture}}" width="200" alt="Image album">
          </span>
          <fa-icon [icon]="vm.faTimes" title="Supprimer image" (click)="handleClickDeletePicture(photo.id)"></fa-icon>
        </span>
      </div>

    <div class="form-group">
      <label for="picture">Ajouter des photos</label>
      <input multiple="multiple" type="file" class="form-control-file" id="picture" (change)="handleChangePictures($event)">
    </div>

    <div>
      <div class="flex justify-content-around w-100">
        <span *ngFor="let pic of vm.picturesLoad" class="mr-5 mb-3">
          <span (click)="handleClickShow(pic)">
            <img src="{{pic}}" width="200" alt="Image album">
          </span>
          <fa-icon [icon]="vm.faTimes" title="Supprimer image" (click)="handleClickDeletePictureLoad(pic)"></fa-icon>
        </span>
      </div>
      <div [style.display]="vm.showModal ? 'block' : 'none'" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <figure class="crop-figure">
                <img class="card-img-top" src="{{vm.pict}}" alt="Card image cap">
              </figure>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click) = "handleClickHide()">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="handleClickSendPhotos()">Envoyer les photos</button>
  </div>
</div>
