<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion du bureau'"></app-title-section>
  <div class="container-fluid">
    <div class="w-100 text-right mt-3 mb-3">
      <button type="button" class="btn btn-primary mr-1" (click)="handleClickAddOffice()">Ajouter un membre</button>
    </div>
    <div class="table-responsive text-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let office of vm.offices">
          <td>{{office.firstname}}</td>
          <td>{{office.lastname}}</td>
          <td>{{office.role}}</td>
          <td>
            <button type="button" class="btn btn-primary mr-1" (click)="handleClickUpdateOffice(office.id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="handleClickDeleteOffice(office.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
