<div *ngIf="vm.fGroup">
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Modifier un joueur'"></app-title-section>
  <div class="container-fluid">
    <form [formGroup]="vm.fGroup" (submit)="handleSubmitUpdate()">
      <div class="form-group">
        <label for="lastname">Nom de famille *</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Nom de famille">
      </div>
      <div class="form-group">
        <label for="firstname">Prénom *</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="Prénom">
      </div>
      <div class="form-group">
        <label>Date de naissance</label>
        <input class="form-control" placeholder="Select Date"
               formControlName="birthdate"
               readonly
               [ngxDatePicker]="dateInstanceSingle">
        <ngx-date-picker  #dateInstanceSingle></ngx-date-picker>
      </div>
      <div class="form-group">
        <label for="post">Poste *</label>
        <select class="form-control" id="post" formControlName="post">
          <option [value]="vm.postEnum.GOALKEEPER">Gardien de but</option>
          <option [value]="vm.postEnum.DEFENDER">Arrière</option>
          <option [value]="vm.postEnum.MIDFIELDER">Milieu de terrain</option>
          <option [value]="vm.postEnum.STRIKER">Avant</option>
        </select>
      </div>
      <div class="form-group">
        <label for="picture">Photo</label>
        <input type="file" class="form-control-file" id="picture" (change)="handleChangePicture($event)">
        <div class="d-flex">
          <figure class="crop-figure">
            <img class="card-img-top" src="{{picture}}" alt="Card image cap">
          </figure>
          <fa-icon *ngIf="picture" [icon]="faTimes" class="ml-3" title="Supprimer image" (click)="handleClickDeletePicture()"></fa-icon>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="vm.fGroup.invalid">Modifier</button>
    </form>
  </div>
</div>
