<div>
  <h3 class="mb-3">Gestion des buteurs du match</h3>
  <div *ngFor="let scorer of vm.scorers">
    <span>{{scorer.players.lastname.toUpperCase() + ' ' + scorer.players.firstname}} - {{scorer.goals}}</span>
    <span> <fa-icon [icon]="vm.faTimes" class="ml-3" title="Supprimer buteur" (click)="handleClickDeleteScorer(scorer.id)"></fa-icon></span>
  </div>
  <form [formGroup]="vm.fGroup" (submit)="handleSubmitScorer()" class="mt-3">
    <div class="form-group">
      <label for="players_id">Joueur</label>
      <select class="form-control" id="players_id" formControlName="players_id">
        <option *ngFor="let player of vm.players" [ngValue]="player.id">{{player.lastname + ' ' + player.firstname}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="goals">Nombre de buts</label>
      <input type="number" class="form-control" id="goals" formControlName="goals" placeholder="0,1,2">
    </div>
    <button type="submit" class="btn btn-primary">Ajouter le buteur</button>
  </form>
</div>
