<div>
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Gestion des convocations'"></app-title-section>
  <div class="container-fluid">
    <div class="w-100 text-right mt-3 mb-3">
      <button *ngIf="!vm.convocation" type="button" class="btn btn-primary mr-1" (click)="handleClickAdd()">Ajouter une convocation</button>
    </div>
    <div class="table-responsive text-center" *ngIf="vm.convocation">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Equipe</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{vm.convocation.teams.name}}</td>
          <td>
            <button type="button" class="btn btn-primary mr-1" (click)="handleClickUpdate(vm.convocation.id)">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="handleClickDelete(vm.convocation.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
