<div *ngIf="vm.fGroup">
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Ajouter une actualité'"></app-title-section>
  <div class="container-fluid">
    <app-bo-actuality-form [fGroup]="vm.fGroup"
                           (pic1Event)="handlePic1Event($event)"
                           (pic2Event)="handlePic2Event($event)"
                           (pic3Event)="handlePic3Event($event)"></app-bo-actuality-form>
    <button type="submit" class="btn btn-primary" (click)="handleClickAdd()" [disabled]="vm.fGroup.invalid">Ajouter</button>
  </div>
</div>
