<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Contact'"></app-title-section>
  <div class="container-fluid m-auto text-center">
    <div class="card mt-5 mb-5" style="width: 18rem;" *ngFor="let contact of vm.contacts">
      <figure class="crop-figure" *ngIf="contact.picture">
        <img class="card-img-top" src="{{contact.picture}}" alt="Photo contact">
      </figure>
      <div class="card-body">
        <h4 class="card-title">{{contact.firstname}} {{contact.lastname.toUpperCase()}}</h4>
        <p class="card-text">{{contact.email}}</p>
        <p class="card-text">{{contact.phone}}</p>
      </div>
    </div>
    <div class="title-2">Adresses des stades</div>
    <div class="d-flex flex-wrap justify-content-around">
      <div class="card mt-5 mb-5">
        <iframe class="d-none d-md-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.0395035956276!2d-2.225298684165628!3d48.12876155975362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDA3JzQzLjUiTiAywrAxMycyMy4yIlc!5e0!3m2!1sfr!2sfr!4v1599577070374!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="card-body">
          <h4 class="card-title">Gaël</h4>
          <div class="d-flex"><fa-icon [icon]="vm.faMapMarkerAlt" class="blue"></fa-icon><span class="ml-2">7 Rue du Gaël Villacoublay</span></div>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between">
        <div class="card mt-5 mb-5">
          <iframe class="d-none d-md-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.1491259353775!2d-2.159783584165675!3d48.12664745990095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480e53c3a359ec3d%3A0x2b666f5bbc933134!2s17%20Rue%20du%20Petit%20Chemin%2C%2035290%20Muel!5e0!3m2!1sfr!2sfr!4v1599577640104!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>        <div class="card-body">
            <h4 class="card-title">Muel</h4>
          <div class="d-flex"><fa-icon [icon]="vm.faMapMarkerAlt" class="blue"></fa-icon><span class="ml-2">Rue du Petit Chemin</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
