/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

.blue {
  color: rgb(14,172,235);
}
.title-1 {
  font-family: 'Passion One', cursive;
  font-size: 62px;
  color: rgb(14,172,235);
}

.title-2 {
  font-family: 'Passion One', cursive;
  font-size: 32px;
  color: rgb(14,172,235);
}

.title-white-1 {
  font-family: 'Passion One', cursive;
  font-size: 3em;
  color: white;
}

.title-3 {
  padding: 20px;
  text-align: center;
  font-family: 'Passion One', cursive;
  font-size: 42px;
  color: rgb(14,172,235);
}

h5 {
  color: rgb(14,172,235);
  font-family: 'Passion One', cursive;
  font-size: 1.5rem;
}

.btn-primary {
  background: rgb(14,172,235);
}

.line {
  width: 50%;
  border: 1px solid rgb(14,172,235);
}

*{
  font-family: 'Montserrat', sans-serif;
}


.crop-figure{
  overflow:hidden; /*hide bounds of image */
  margin:0;   /*reset margin of figure tag*/
  /*width: 18rem;*/
}
.crop-figure img{
  /*display:block; !*remove inline-block spaces*!*/
  /*width:100%; !*make image streatch*!*/
  /*!*margin:-50% 0;*!*/
  max-height: 400px;
  object-fit: contain;

}

.cpointer {
  cursor: pointer;
}

.ellipses {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

