<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Classement des buteurs'"></app-title-section>
  <div class="container-fluid" *ngIf="vm.scorers.length">
    <div class="row">
      <div class="col-2 d-none d-lg-block"></div>
      <div class="col">
        <div class="d-flex flex-wrap justify-content-between">
          <div class="card mt-5 m-auto" style="width: 18rem;">
            <figure class="crop-figure" *ngIf="vm.scorers[0].players.picture">
              <img class="card-img-top d-none d-lg-block" src="{{vm.scorers[0].players.picture}}" alt="Photo joueur">
            </figure>
            <div class="card-body">
              <h4 class="card-title"># 1 {{vm.scorers[0].players.lastname.toUpperCase() + ' ' + vm.scorers[0].players.firstname}}</h4>
              <p class="font-weight-bold text-right">{{vm.scorers[0].goals}} <fa-icon [icon]="vm.faFutbol"></fa-icon></p>
            </div>
          </div>
          <table class="table mt-3">
            <tbody>
            <tr *ngFor="let scorer of vm.scorers.slice(1); let i = index">
              <th scope="row"># {{i + 2}}</th>
              <td>{{scorer.players.lastname.toUpperCase() + ' ' + scorer.players.firstname}}</td>
              <td>{{scorer.goals}} <fa-icon [icon]="vm.faFutbol"></fa-icon></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-2 d-none d-lg-block"></div>
    </div>
  </div>
</div>
