<form [formGroup]="vm.fGroup">
  <div class="form-group">
    <label for="title">Titre de l'album *</label>
    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titre de l'album">
  </div>
</form>
