<div *ngIf="vm.fGroup">
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Ajouter une convocation'"></app-title-section>
  <div class="container-fluid">
    <app-bo-convocation-form [fGroup]="vm.fGroup"></app-bo-convocation-form>
    <button type="submit" class="btn btn-primary" (click)="handleClickAdd()" [disabled]="vm.fGroup.invalid">Ajouter</button>
  </div>
</div>
