<div>
  <app-menu></app-menu>
  <app-title-section [titleSection]="'Les coachs'"></app-title-section>
  <div class="container-fluid m-auto w-75">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card mt-5 mb-5" style="width: 18rem;" *ngFor="let coach of vm.coaches">
        <figure class="crop-figure" *ngIf="coach.picture">
          <img class="card-img-top" src="{{coach.picture}}" alt="Photo dirigeant">
        </figure>
        <div class="card-body">
          <h4 class="card-title">{{coach.firstname}} {{coach.lastname.toUpperCase()}}</h4>
          <p class="card-text" *ngIf="coach.birthdate"><fa-icon [icon]="vm.faBirthdayCake"></fa-icon>{{coach.birthdate | date: 'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
