<div *ngIf="vm.fGroup">
  <app-bo-menu></app-bo-menu>
  <app-title-section [titleSection]="'Modifier un match'"></app-title-section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <app-bo-match-form [fGroup]="vm.fGroup"></app-bo-match-form>
        <button type="submit" class="btn btn-primary" (click)="handleClickUpdate()" [disabled]="vm.fGroup.invalid">Modifier</button>
      </div>
      <div class="col-md-4">
        <app-bo-scorer-form [matchId]="matchId"></app-bo-scorer-form>
      </div>
    </div>
  </div>
</div>
