<div *ngIf="vm.convocationPlayer">
  <app-menu></app-menu>
  <app-title-section *ngIf="vm.convocationPlayer.convocation" [titleSection]="'Convocation Equipe ' + vm.convocationPlayer.convocation.teams.name"></app-title-section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 d-none d-lg-block"></div>
      <div class="col text-danger font-weight-bold" *ngIf="vm.convocationPlayer.convocation && vm.convocationPlayer.convocation.noMatch"> Pas de match.</div>
      <div class="col text-danger font-weight-bold" *ngIf="vm.convocationPlayer.convocation && vm.convocationPlayer.convocation.cancel">Match annulé.</div>
      <div class="col" *ngIf="vm.convocationPlayer.convocation && !vm.convocationPlayer.convocation.noMatch">
        <table class="table">
          <thead>
          <tr>
            <th scope="col" colspan="2" class="text-center" *ngIf="vm.convocationPlayer.convocation.matches">Match contre {{vm.convocationPlayer.convocation.matches.opposingTeam}}</th>
          </tr>
          <tr>
            <th scope="col" colspan="2" class="text-center" *ngIf="vm.convocationPlayer.convocation.matches">{{vm.convocationPlayer.convocation.matches.dateMatch | date: 'dd / MM / yyyy'}}</th>
          </tr>
          <tr>
            <th scope="col" colspan="2" class="text-center" *ngIf="vm.convocationPlayer.convocation.matches">Lieu du match : {{vm.convocationPlayer.convocation.matches.placeMatch}}</th>
          </tr>
          <tr>
            <th scope="col" colspan="2" class="text-center"><span *ngIf="vm.convocationPlayer.convocation.convocationTime">RDV {{vm.convocationPlayer.convocation.convocationTime | date: 'HH:mm'}}</span> <span *ngIf="vm.convocationPlayer.convocation.convocationPlace"> à {{vm.convocationPlayer.convocation.convocationPlace}}</span></th>
          </tr>
          <tr>
            <th scope="col" colspan="2" class="text-center" *ngIf="vm.convocationPlayer.convocation.comment">{{vm.convocationPlayer.convocation.comment}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let player of vm.convocationPlayer.players; let i=index">
            <th scope="row">{{i + 1}}</th>
            <td *ngIf="player">{{player.lastname.toUpperCase() + ' ' + player.firstname}}</td>
          </tr>
          </tbody>
        </table>
        <div>
          <div class="card mt-5 mb-5" style="width: 18rem;" *ngIf="vm.convocationPlayer.convocation.coaches">
            <figure class="crop-figure">
              <img class="card-img-top" src="{{vm.convocationPlayer.convocation.coaches.picture}}" alt="Card image cap">
            </figure>
            <div class="card-body">
              <h4 class="card-title">{{vm.convocationPlayer.convocation.coaches.firstname}} {{vm.convocationPlayer.convocation.coaches.lastname.toUpperCase()}}</h4>
              <p class="card-text">{{vm.convocationPlayer.convocation.coaches.phone}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="!vm.convocationPlayer.convocation">
        Pas de convocation pour cette équipe.
      </div>
      <div class="col-3 d-none d-lg-block"></div>
    </div>
  </div>
</div>
